<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    {% unless item.desktop_only %}
    <li class="{% if item.url == page.url %}active{% endif %}{% if item.children or item.inject_classes %} has-children{% endif %}{% if item.inject_classes %} always-expanded{% endif %}">
      {% if item.inject_classes %}
      <a href="{{ item.url | relative_url }}"{% if item.class %} class="{{ item.class }}"{% endif %}>
        {{ item.name }}
      </a>
      {% elsif item.children %}
      <a href="javascript:void(0)" class="{% if item.class %}{{ item.class }} {% endif %}submenu-toggle">
        {{ item.name }}
        <svg class="caret" width="16" height="16" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.5 3.5L5 6L7.5 3.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      {% else %}
      <a href="{{ item.url | relative_url }}"{% if item.class %} class="{{ item.class }}"{% endif %}>
        {{ item.name }}
      </a>
      {% endif %}
      {% if item.inject_classes %}
      <ul class="sub-menu always-visible">
        {% assign active_classes = site.classes | where_exp: "class", "class.active != false" %}
        {% for class in active_classes %}
        <li>
          <a href="{{ class.url | relative_url }}">{{ class.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% elsif item.children %}
      <ul class="sub-menu">
        {% for child in item.children %}
        <li>
          <a href="{{ child.url | relative_url }}">{{ child.name }}</a>
          {% if child.inject_classes %}
          <ul class="sub-menu always-visible">
            {% assign active_classes = site.classes | where_exp: "class", "class.active != false" %}
            {% for class in active_classes %}
            <li>
              <a href="{{ class.url | relative_url }}">{{ class.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
</div>
