---
layout: default
bodyClass: "page-class"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <h1 class="title">{{page.title}}</h1>
    {% if page.intro_image %}
      <div class="mt-2 col-12 col-md-8">
        <img alt="{{ page.title }}" class="my-2 intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
    {% endif %}
    <div class="col-12 col-md-8">
      <div class="class class-single">
        <div class="content">
          {{% if page.price and page.min_age %}}
            <p>$<span id="price">{{page.price}}</span> Per Person / Ages {{page.min_age}} and up</p>
          {{% endif }}
          {{content}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://kilnfire.com/classembed.js"></script>
{% if page.price %}
<script>
  window.classPrice = {{ page.price }};
</script>
{% endif %}
{% include kilnfire-conversion-tracking.html %}
