---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="class class-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}

                <p>Questions or comments? Please reach out, and we'll get back to you as soon as possible.</p>

                <h2 id="open-hours">Open hours</h2>

                <p>Open hours match the schedule of our partner organization, 6th Street Studios & Art Center. Confirm hours <a href="https://www.6thstreetartstudios.org">via their website</a>.</p>

                <div class="content mt-4">{{content}}</div>

                <h2 id="visiting-our-location">Visiting Our Location</h2>

                <h3>Access Notes</h3>
                <p>Hearthfire Clay's goal is to make ceramics education accessible, including physically, cognitively, developmentally, or sensorially. If you have specific access needs that are not discussed here, please reach out via email, text, or phone to discuss how we can ensure your comfort and access during your visit.</p>
                <p>

                </p>
                <ul>
                    <li>
                        <p><strong>Access with a wheelchair or mobility device</strong> Our main classroom is accessible without a step via our side entrance in the driveway on the right side of the building, and via a small step at the front entrance. Our restrooms have support bars installed, and sinks with cabinets underneath. One restroom directly off our main classroom has a 5" step with a full 36" width door. The other is accessible without a step via a path through the staff area, but has a more narrow doorway. Please reach out if there is any additional information we can provide to help you access our space comfortably.</p>
                    </li>
                    <li>
                        <p><strong>Sensory expectations</strong> Our main classroom is located along a busy road with some traffic noise. In addition, the space reflects sound and can become loud when several people are talking. Those who are affected by loud or inconsistent noise may benefit from noise dampening headphones.  The front of the classroom is windows that provide visibility to and from the street and brighten the space significantly during the day. Our classroom space is typically strongly lit, although lighting can be adjusted.</p>
                    </li>
                </ul>
                <br />
                <h3>Parking</h3>
                <p>Free parking is available at W 7th & Eigleberry St. Follow the sidewalk to our location by traveling north on Eigleberry and then east on W 6th to 64 W 6th Street.</p>
                <a href="/images/6th-street-parking.png" class="d-md-none">
                    <img class="img-fluid" alt="satellite view map showing free parking available at W 7th & Eigleberry St, and the walking path to get to our location by traveling north on Eigleberry and then east on W 6th to 64 W 6th Street." src="/images/6th-street-parking.png" />
                </a>
                <div class="d-none d-md-block">
                    <img class="img-fluid" alt="satellite view map showing free parking available at W 7th & Eigleberry St, and the walking path to get to our location by traveling north on Eigleberry and then east on W 6th to 64 W 6th Street." src="/images/6th-street-parking.png" />
                </div>
            </div>
        </div>
    </div>
</div>
