---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_classes | default: 6 %}
      {% for class in site.classes limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="class class-summary">
          <div class="class-content">
            <h2 class="class-title">
              <a href="{{ class.url | relative_url }}">{{ class.title }}</a>
            </h2>
            <p>{{ class.content | markdownify | strip_html | truncate: 200 }}</p>
          </div>
          <a class="button button-primary" href="{{ class.registration_url }}">Register →</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
