---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      <div class="col-12 col-md-5 col-lg-6 order-3 order-md-2 position-relative">
        {% if page.intro_image %}
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
        {% endif %}
        <div class="givebutter-widget-wrap">
          <givebutter-widget id="pXv4QZ" align="center"></givebutter-widget>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_classes | default: 6 %}
      {% assign classes_with_weight = site.classes | where_exp: "class", "class.weight" | sort: "weight" %}
      {% assign classes_without_weight = site.classes | where_exp: "class", "class.weight == nil" %}
      {% assign sorted_classes = classes_with_weight | concat: classes_without_weight %}
      {% for class in sorted_classes limit: limit %}
        {% include class-card.html class=class show_learn_more=true %}
      {% endfor %}
    </div>
  </div>
</div>
