---
layout: default
bodyClass: "page-basic"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <h1 class="title">{{page.title}}</h1>
    <a href="#calendar-view">See calendar view</a>
    <div class="content">{{content}}</div>
    <div class="kilnfire-classes" data-org-id="308" data-view="list"></div>
    <div class="kilnfire-classes" data-org-id="308" data-view="blocks"></div>
    <script src="https://kilnfire.com/classembed.js"></script>
    <h2 id="calendar-view">Class Calendar</h2>
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&src=Ym5hOXFkMDltZ2tjbjY2aGZ2YXJvczBqNnJrNWdlY2FAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23f09300" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>